/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress {
  from { width: 0%; }
  to { width: 100%; }
}

@import "leaflet/dist/leaflet.css";

* {
  color: greenyellow;
}